<!--
@TODO: Cambiar colores
!-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="main">

    <div class="signup">
        <label>Sign up</label>
        <form action="/signup" method="post">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="password" placeholder="Password" required="">
            <button type="submit" formmethod="post">Sign up</button>
        </form>

        <div class="text-center">
            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>

    </div>
</div>
</body>
</body>
</html>
